<html>
  {{> head}}
  <body>
    {{> page-header}}

    <main>
      {{> grid}}

      <div class="grid-demo">
        <div class="container">
          <div class="group">
            <div class="sm4 md8 lg12">
              <h1>Grid Layout</h1>
            </div>
            <div class="sm4 md8 lg12">
              <p>On mobile the grid uses 4 columns, on tablet it uses 8 columns and on desktop it uses 12 columns.</p>
            </div>
            <div class="sm1 md2 lg3">
              <div>.sm1 .md2 .lg3</div>
            </div>
            <div class="sm1 md2 lg3">
              <div>.sm1 .md2 .lg3</div>
            </div>
            <div class="sm1 md2 lg3">
              <div>.sm1 .md2 .lg3</div>
            </div>
            <div class="sm1 md2 lg3">
              <div>.sm1 .md2 .lg3</div>
            </div>
          </div>
          <div class="group">
            <div class="md4">
              <div>.md4</div>
            </div>
            <div class="md4">
              <div>.md4</div>
            </div>
          </div>
          <div class="group">
            <div class="md6 lg4">
              <div>.md6 .lg4</div>
            </div>
            <div class="md2 lg4">
              <div>.md2 .lg4</div>
            </div>
            <div class="md1 lg4">
              <div>.md1 .lg4</div>
            </div>
            <div class="md7 lg4">
              <div>.md7 .lg4</div>
            </div>
          </div>
          <div class="group">
            <div class="lg2">
              <div>.lg2</div>
            </div>
            <div class="lg2">
              <div>.lg2</div>
            </div>
            <div class="lg2">
              <div>.lg2</div>
            </div>
            <div class="lg2">
              <div>.lg2</div>
            </div>
            <div class="lg2">
              <div>.lg2</div>
            </div>
            <div class="lg2">
              <div>.lg2</div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {{> page-footer}}
  </body>
</html>
